services:
  db:
    container_name: db
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=serie_springboot
    ports:
      - 5432:5432
    volumes:
      - db_postgres_data:/var/lib/postgresql/data
  be:
    container_name: be
    build:
      context: .
    image: seriespringboot-be
    env_file:
      - be.env
    ports:
      - 8080:8080

volumes:
  db_postgres_data: